:root {
    /* color de fondo */
    --body-bg-color: #f2f2f2;
    /* cuadros de imput ,lenado de informacion */
    --input-bg-color: rgba(255, 255, 255, 0.829);
    /* caja de formulario de contacto */
    --boxform-bg-color: #FFD169;
    /* Barra de Navegación */
    /* Color de barra de navegacion */
    --navbar-bg-color: #eee9af;
    /* texto en navegacion*/
    --navText-color: black;
    /* boton  en navegacion*/
    --navBut-bg-color: white;
    /* texto una vez realizado el hover en navegacion*/
    --textWhite-color: white;
    /* boton una vez realizado el hover en navegacion*/
    --navHovBut-bg-color: #7a8937;
    /* botones rosa */
    --butPink-bg-color: #E54875;
     /* Header*/
     /* Fondo de título */
    --header-bg-color: linear-gradient(180deg, rgba(33, 145, 117, 1) 0%, rgba(255, 228, 51, 1) 100%);
    /* Header de pagina gradiente */
    --headerPage-bg-color: linear-gradient(to bottom, #a8f57a, #f2f2f2);
    /* Botón Publicar */
    --pubBut-bg-color:#e7e7e7;
    /* Gris oscuro */
    --lineD-color:#ddd;
    /* Tecxto de Usuario */
    --textUsuario-color: #333;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar desplazamientos horizontales */
}

body {
    background-color: var(--body-bg-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw !important;
}

/***** CSS HEADER *****/

/* Estilos del contenedor personalizado, ancho completo, centrado y con relleno. Alinea su contenido en el centro de forma vertical y horizontal */

.custom-container {
    width: 100vw;
    height: 290px;
    padding: 35px 0;
    margin-top: 80px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.header-pagina {
    background: var(--header-bg-color);
    margin-bottom: 10px ;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 11em;
    font-family: "Style Script", cursive;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Posiciona las imágenes de flores en el header de manera absoluta en la esquina inferior derecha y les da un tamaño fijo, con una transición suave para cambios */
.header-flowers img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16em;
    width: 16em;
    transition: all 0.3s ease;
    max-width: 100%;
    z-index: 1;
}

/* ======= FOTO DE PERFIL ======== */

.foto-perfil-container {
    display: flex; /* Flexbox para alinear horizontalmente */
    align-items: left; /* Alinear verticalmente al centro */
    position: relative;
    justify-content: flex-start;
    z-index: 2;
    margin-top: -50px;
    justify-content: flex-start; /* Asegura que los elementos estén alineados a la izquierda */
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center; 
}

.foto-perfil img{
    height: 200px;
    border-radius: 50%;
    margin-top: -80px;
    padding: 0;
    position: relative;
    z-index: 2;
    display: flex;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border: 4px solid var(--body-bg-color);
}

.nombre-usuario {
    display: flex; /* Cambiar a inline-block para que el fondo se ajuste al contenido */
    font-size: 1.5rem;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    white-space: nowrap; /* Evitar que el nombre se rompa en varias líneas */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}


.nombre-y-boton {
    display: flex; /* Usar flexbox para alinear el nombre y el botón */
    align-items: center; /* Alinear verticalmente */
   /* Espacio a la izquierda del nombre para compensar el espacio de la imagen */
}

.btn-editar-perfil {
    position: relative;
    background-color: transparent;
    color: var(--butPink-bg-color);
    cursor: pointer; 
    margin: 20px auto ;
    margin-left: 15px;
}


/* Estilos para la tarjeta "Acerca de mí" */
.acerca-de-mi {
    background: linear-gradient(to bottom, #529e65 0%, #a5dca5, #eee9af 100%, #f1f1f1);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-size: 3rem;
    font-family: "Style Script", cursive;
    font-weight: 600;
    color: #eee9af;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: #000000;
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
}

.card-body {
    padding: 20px;
}



/* Estilo para los posts */

.post-destacados {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.contenedor-derecho-uno,
.contenedor-derecho-dos {
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin-bottom: 20px; 
}

.contenedor-derecho-uno h4,
.contenedor-derecho-dos h4 {
    margin-bottom: 10px; 
}

.card {
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 4px;
}

.user {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins";
}

.text {
    margin-top: 10px;
    color: var(--textUsuario-color);
}

/* Estamos en proceso de errores CARDS */

.card {
    font-family: "Montserrat", sans-serif;
}

.user{
    font-family: "Poppins";
}