body {
    background-color: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** CSS HEADER *****/

/* Estilos del contenedor personalizado, ancho completo, centrado y con relleno. Alinea su contenido en el centro de forma vertical y horizontal */
.custom-container {
    width: 100%;
    padding: 35px 0;
    margin: 80px auto !important; 
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.header-pagina {
    background: rgb(33, 145, 117);
    background: linear-gradient(180deg,rgba(33, 145, 117, 1) 0%, rgba(255, 228, 51, 1) 100%);
    margin-bottom: 10px ;
}

.title {
    font-size: 11em;
    font-family: "Style Script", cursive;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Posiciona las imágenes de flores en el header de manera absoluta en la esquina inferior derecha y les da un tamaño fijo, con una transición suave para cambios */
.header-flowers img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16em;
    width: 16em;
    transition: all 0.3s ease;
    max-width: 100%;
    z-index: 1;
}


 /* =========== DESCRIPCION ---------- */
 .title-description {
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    text-align: center;
}

 .descpripcion-pagina {
    font-family: "Montserrat", sans-serif; 
    font-size: 1.2rem; 
    color: #333;
    line-height: 1.6;  
    text-align: justify;  
    margin: 10px auto;  
    margin-bottom: 30px;
    padding: 15px 20px; 
    background-color: #f9f9f9; 
    border-left: 4px solid #7a8937; 
    border-radius: 10px; 
    max-width: 800px;  
}

/***** EMPIEZA CSS TARJETAS *****/

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 550px;
    padding: 20px;
    font-size: 1.1rem;
}

/* Contenido completo de las tarjetas */
.contenido-tarjeta {
    margin-top: 20px;
}

.tarjeta_foto {
    height: 150px;
}

/* Estilo para las fotos redondeadas */
.tarjeta_foto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los nombres */
.tarjeta_nombre {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: black;
    background-color: #f1f1f1;
    margin: 0 auto;
    width: 80%;
}

/* Botón de LinkedIn */
.btn {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: black;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s;
    width: 80%;
    margin-top: 20%;
}

.btn:hover {
    background-color: #0056b3;
}

/* Descripción en las tarjetas */
.tarjeta_descripcion {
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

/* Degradados tarjetas */
.card-elisa {
    background: linear-gradient(135deg, #c568f0, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.card-andrea {
    background: linear-gradient(135deg, #e54875, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.card-azul {
    background: linear-gradient(135deg, #006280, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.card-ivanna {
    background: linear-gradient(135deg, #b15a8d, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.card-karen {
    background: linear-gradient(135deg, #ff9233, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.card-liz {
    background: linear-gradient(135deg, #ffd92f, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.card-vanessa {
    background: linear-gradient(135deg, #bed83d, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}

.card-tibio {
    background: linear-gradient(135deg, #219175, #ffffff);
    border: none;
    border-radius: 15px;
    box-shadow: none;
}