*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====== NUEVA BARRA DE NAVEGACION ====== */

.offcanvas {
    background-color: #EEE9AF;
}

.nav-item {
    display: flex;
    justify-content: center;
    opacity: 1;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 2em;
}

.nav-item:hover {
    background-color: #7A8937;
    font-weight:500 ;
}

.nav-item a:hover{
    color: white;
}

#logo {
    display: flex;
    width: 10em;
    height: 10em;
    margin: 0 auto;
    background: transparent;
    margin-top: 10vh;
}


/***** CSS HEADER *****/


.custom-container {
    width: 100vw; /* Asegura que el contenedor abarque todo el ancho de la pantalla */
    max-width: 100%; /* Sobrescribe cualquier límite en el ancho */
    padding: 35px 0;
    margin: 20px 40px;
    margin-bottom: 70px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    position: relative; /* Necesario para el posicionamiento de elementos internos */
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header-pagina {
    background: rgb(33,145,117);
    background: linear-gradient(180deg, rgba(33,145,117,1) 0%, rgba(255,228,51,1) 100%);
}

.title{
    font-size: 11em;
    font-family: "Style Script", cursive;
    color: white;
    text-align: center;
}

.header-flowers img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16em;
    width:16em;
}


/***** EMPIEZA CSS TARJETAS *****/

.card {
    height: 550px; 
    padding: 20px; 
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
}

/* Estilo para las fotos redondeadas */
.tarjeta_foto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilo para los nombres */
.tarjeta_nombre {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: black;
    background-color: #f1f1f1;
}

/* Botón de LinkedIn */
.btn {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: black;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 50px; 
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; 
}

/* Descripción en las tarjetas */
.tarjeta_descripcion {
    font-size: 0.9rem;
    font-family: 'Caviar Dreams', sans-serif;
    color: #000000;
}

/* Degradados tarjetas */
.card-elisa {
    background: linear-gradient(135deg, #c568f0, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}

.card-andrea {
    background: linear-gradient(135deg, #e54875, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}
.card-azul {
    background: linear-gradient(135deg, #006280, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}
.card-ivanna {
    background: linear-gradient(135deg, #b15a8d, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}
.card-karen {
    background: linear-gradient(135deg, #ff9233, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}
.card-liz {
    background: linear-gradient(135deg, #ffd92f, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}
.card-vanessa {
    background: linear-gradient(135deg, #BED83D, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}
.card-tibio {
    background: linear-gradient(135deg, #219175, #ffffff); 
    border: none; 
    border-radius: 15px; 
    box-shadow: none; 
}
