/* EN PROGRESO */
main {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    height: 100vh;           /* Altura completa del viewport */
    text-align: center;
}

img {
    width: 300px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

.container {
    max-width: 100%; /* Asegúrate de que el contenedor no sobrepase el ancho */
}