/* VERDE #219175 */
/* AMARILLO: #FFD169 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: linear-gradient(180deg, rgba(33,145,117,1) 0%, rgba(255,228,51,1) 34%, rgba(255,255,255,1) 53%); */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    width: 420px;
    height: 750px;
    background: #FFD169;
    color: white;
    border-radius: 10px;
    padding: 30px 40px 100px 40px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px #FFD169;
}

.wrapper .datos-contacto {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.datos-contacto input {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 45px 10px 20px;
}

.datos-contacto>textarea#Mensaje {
    width: 100%;
    height: 250px;
    resize: none;
    background: white;
    overflow-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
}

.boton-envio {
    text-align: center;
}

.wrapper .btn-envio {
    width: 80%;
    height: 10px;
    background: #219175;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px 50px 20px;
} 

.datos-contacto input::placeholder {
    color: black;
}

.datos-contacto>textarea#Mensaje::placeholder {
    color: black;
}

.datos-contacto button {
    width: 80%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 20px;
    padding: 20px 45px 20px 20px;
}

.boton-envio .btn-envio{
    margin: 200px 0 0 0px;
    
}


header {
    background: rgb(109, 180, 114);
    background: linear-gradient(180deg, rgba(109, 180, 114, 1) 0%, rgba(215, 223, 164, 1) 73%, rgba(238, 233, 175, 1) 100%);
}

#tituloContacto {
    background: #6BB09E;
    color: #FFFFFF;
    border: 2px solid #6BB09E;
    border-radius: 20px;
    font-size: 120px;
    width: 25%;
    height: 0%;
    padding: 20px 25px 50px 20px;
    text-align: center;
    margin: 0 0 50px 560px;
    
}

h1{
    text-align: center;
}
#colorDeFondo2 {
    background: rgb(238, 233, 175);
    background: linear-gradient(180deg, rgba(238, 233, 175, 1) 0%, rgba(238, 233, 175, 1) 30%, rgba(255, 255, 255, 1) 60%);
}