/* VERDE #219175 */
/* AMARILLO: #FFD169 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: linear-gradient(180deg, rgba(33,145,117,1) 0%, rgba(255,228,51,1) 34%, rgba(255,255,255,1) 53%); */
}

.form-control{
    background: rgba(255, 255, 255, 0.829);
}

.datos-contacto>textarea#Mensaje {
    height: 250px;
    resize: none;
    border-radius: 20px;
}

#box-contacto{
    background: #FFD169;
    box-shadow: 0 0 10px 40px #FFD169;
}

.btn{
    background: #E54875;
    font-size: 20px;
    width: 200px;
}

.btn:hover {
    background-color: #E54875;
}



#tituloContacto {
    background-image: url(fondo-encabezados.jpg);
    background-size: 100% 100%;
    color: #EEE9AF;
    position: relative;
}

#tituloContacto h1{
    font-size: 100px;
}

h1{
    font-family: "Style Script", cursive;
}

#flores{
    width: 200px;
    position:absolute;
    left: 80rem;
    top: 10%;
}
