:root {
    /* color de fondo */
    --body-bg-color: #f2f2f2;
    /* cuadros de imput ,lenado de informacion */
    --input-bg-color: rgba(255, 255, 255, 0.829);
    /* caja de formulario de contacto */
    --boxform-bg-color: #FFD169;
    /* Barra de Navegación */
    /* Color de barra de navegacion */
    --navbar-bg-color: #eee9af;
    /* texto en navegacion*/
    --navText-color: black;
    /* boton  en navegacion*/
    --navBut-bg-color: white;
    /* texto una vez realizado el hover en navegacion*/
    --textWhite-color: white;
    /* boton una vez realizado el hover en navegacion*/
    --navHovBut-bg-color: #7a8937;
    /* botones rosa */
    --butPink-bg-color: #E54875;
     /* Header*/
     /* Fondo de título */
    --header-bg-color: linear-gradient(180deg, rgba(33, 145, 117, 1) 0%, rgba(255, 228, 51, 1) 100%);
    /* Header de pagina gradiente */
    --headerPage-bg-color: linear-gradient(to bottom, #a8f57a, #f2f2f2);
    /* Botón Publicar */
    --pubBut-bg-color:#e7e7e7;
    /* Gris oscuro */
    --lineD-color:#ddd;
    /* Tecxto de Usuario */
    --textUsuario-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #f2f2f2;
}

/***** TITULO *****/

/* Estilos del contenedor*/
.custom-container {
    width: 100%;
    padding: 35px 0;
    margin: 80px auto !important; 
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.header-pagina {
       background: var(--header-bg-color);
    margin-bottom: 10px ;
}
/* Estilo del texto */
.title {
    font-size: 11em;
    font-family: "Style Script", cursive;
    color: var(--textWhite-color); 
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Posiciona las imágenes de flores en el header */

.header-flowers img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16em;
    width: 16em;
    transition: all 0.3s ease;
    max-width: 100%;
    z-index: 1;
}

/* ====== BARRA DE NAVEGACION ====== */

#logo-barra-fija {
    max-width: 50px;  
    height: auto;    
    object-fit: contain; 
    margin-left: 10px; 
}

/* parte 1 de la animacion para que los botones aparezcan suavemente */
.offcanvas.show .nav-item {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    background-color: var(--navbar-bg-color) !important; /* Cambia el color aquí */
    border: none;
    margin-bottom: 10px;
}

 /* Color y tamaño de la barra de navegacion */
.offcanvas {
    background-color: var(--navbar-bg-color);
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.bg-body-tertiary {
    background-color: var(--navbar-bg-color);
}

.offcanvas-body ul {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

/* Estilos para cada boton de la barra de navegacion */
.nav-item {
    display: flex;
    justify-content: center;
    background-color: var(--navBut-bg-color);
    margin: 0.3em;
    border-radius: 30px;
    font-size: 1.5em;
    font-family: "Poppins";
    /* parte 2 de la animacion para que los botones aparezcan suavemente */
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Hace que el enlace se centre en el list item de la barra de navegacion */
.nav-item a {
    display: block; 
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: initial; 
    text-decoration: none;
} 

.nav-item:hover {
    background-color: var(--navHovBut-bg-color);
    font-weight: 500;
}

.nav-item a:hover {
    color: var(--textWhite-color);
}

#logo {
    display: flex;
    width: 6em;
    height: 6em;
    margin: 0 auto;
    margin-top: 0;
    background: transparent;
}


/* publicaciónes */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    
}

.card {
    background-color: var(--navBut-bg-color);
    border: 1px solid var(--lineD-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 4px;
}

.user {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins";
}

.text {
    margin-top: 10px;
    color: var(--textUsuario-color);
}

/* Estamos en proceso de errores CARDS */

.card {
    font-family: "Montserrat", sans-serif;
}

.user{
    font-family: "Poppins";
}