* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====== BARRA DE NAVEGACION ====== */

#logo-barra-fija {
    max-width: 50px;  
    height: auto;    
    object-fit: contain; 
    margin-left: 10px; 
}

/* parte 1 de la animacion para que los botones aparezcan suavemente */
.offcanvas.show .nav-item {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    background-color: #eee9af !important; /* Cambia el color aquí */
    border: none;
    margin-bottom: 10px;
}

 /* Color y tamaño de la barra de navegacion */
.offcanvas {
    background-color: #eee9af;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.bg-body-tertiary {
    background-color: #eee9af;
}

.offcanvas-body ul {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

/* Estilos para cada boton de la barra de navegacion */
.nav-item {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0.3em;
    border-radius: 30px;
    font-size: 1.5em;
    font-family: "Poppins";
    /* parte 2 de la animacion para que los botones aparezcan suavemente */
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Hace que el enlace se centre en el list item de la barra de navegacion */
.nav-item a {
    display: block; 
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: initial; 
    text-decoration: none;
} 

.nav-item:hover {
    background-color: #7a8937;
    font-weight: 500;
}

.nav-item a:hover {
    color: white;
}

#logo {
    display: flex;
    width: 6em;
    height: 6em;
    margin: 0 auto;
    margin-top: 0;
    background: transparent;
}

/***** CSS HEADER *****/

/* Estilos del contenedor personalizado, ancho completo, centrado y con relleno. Alinea su contenido en el centro de forma vertical y horizontal */
.custom-container {
    width: 100%;
    padding: 35px 0;
    margin: 80px auto !important; 
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.header-pagina {
    background: rgb(33, 145, 117);
    background: linear-gradient(180deg,rgba(33, 145, 117, 1) 0%, rgba(255, 228, 51, 1) 100%);
    margin-bottom: 10px ;
}

.title {
    font-size: 11em;
    font-family: "Style Script", cursive;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Posiciona las imágenes de flores en el header de manera absoluta en la esquina inferior derecha y les da un tamaño fijo, con una transición suave para cambios */
.header-flowers img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16em;
    width: 16em;
    transition: all 0.3s ease;
    max-width: 100%;
    z-index: 1;
}