:root {
    /* color de fondo */
    --body-bg-color: #f2f2f2;
    /* cuadros de imput ,lenado de informacion */
    --input-bg-color: rgba(255, 255, 255, 0.829);
    /* caja de formulario de contacto */
    --boxform-bg-color: #FFD169;
    /* Barra de Navegación */
    /* Color de barra de navegacion */
    --navbar-bg-color: #eee9af;
    /* texto en navegacion*/
    --navText-color: black;
    /* boton  en navegacion*/
    --navBut-bg-color: white;
    /* texto una vez realizado el hover en navegacion*/
    --textWhite-color: white;
    /* boton una vez realizado el hover en navegacion*/
    --navHovBut-bg-color: #7a8937;
    /* botones rosa */
    --butPink-bg-color: #E54875;
     /* Header*/
     /* Fondo de título */
    --header-bg-color: linear-gradient(180deg, rgba(33, 145, 117, 1) 0%, rgba(255, 228, 51, 1) 100%);
    /* Header de pagina gradiente */
    --headerPage-bg-color: linear-gradient(to bottom, #a8f57a, #f2f2f2);
    /* Botón Publicar */
    --pubBut-bg-color:#e7e7e7;
    /* Gris oscuro */
    --lineD-color:#ddd;
    /* Tecxto de Usuario */
    --textUsuario-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====== BARRA DE NAVEGACION ====== */

#logo-barra-fija {
    max-width: 50px;  
    height: auto;    
    object-fit: contain; 
    margin-left: 10px; 
}

/* parte 1 de la animacion para que los botones aparezcan suavemente */
.offcanvas.show .nav-item {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    background-color: var(--navbar-bg-color) !important; /* Cambia el color aquí */
    border: none;
    margin-bottom: 10px;
}

 /* Color y tamaño de la barra de navegacion */
.offcanvas {
    background-color: var(--navbar-bg-color);
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.bg-body-tertiary {
    background-color: var(--navbar-bg-color);
}

.offcanvas-body ul {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

/* Estilos para cada boton de la barra de navegacion */
.nav-item {
    display: flex;
    justify-content: center;
    background-color: var(--navBut-bg-color);
    margin: 0.3em;
    border-radius: 30px;
    font-size: 1.5em;
    font-family: "Poppins";
    /* parte 2 de la animacion para que los botones aparezcan suavemente */
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Hace que el enlace se centre en el list item de la barra de navegacion */
.nav-item a {
    display: block; 
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: initial; 
    text-decoration: none;
} 

.nav-item:hover {
    background-color: var(--navHovBut-bg-color);
    font-weight: 500;
}

.nav-item a:hover {
    color: var(--textWhite-color);
}

#logo {
    display: flex;
    width: 6em;
    height: 6em;
    margin: 0 auto;
    margin-top: 0;
    background: transparent;
}
