:root {
    /* color de fondo */
    --body-bg-color: #f2f2f2;
    /* cuadros de imput ,lenado de informacion */
    --input-bg-color: rgba(255, 255, 255, 0.829);
    /* caja de formulario de contacto */
    --boxform-bg-color: #FFD169;
    /* Barra de Navegación */
    /* Color de barra de navegacion */
    --navbar-bg-color: #eee9af;
    /* texto en navegacion*/
    --navText-color: black;
    /* boton  en navegacion*/
    --navBut-bg-color: white;
    /* texto una vez realizado el hover en navegacion*/
    --textWhite-color: white;
    /* boton una vez realizado el hover en navegacion*/
    --navHovBut-bg-color: #7a8937;
    /* botones rosa */
    --butPink-bg-color: #E54875;
     /* Header*/
     /* Fondo de título */
    --header-bg-color: linear-gradient(180deg, rgba(33, 145, 117, 1) 0%, rgba(255, 228, 51, 1) 100%);
    /* Header de pagina gradiente */
    --headerPage-bg-color: linear-gradient(to bottom, #a8f57a, #f2f2f2);
    /* Botón Publicar */
    --pubBut-bg-color:#e7e7e7;
    /* Gris oscuro */
    --lineD-color:#ddd;
    /* Tecxto de Usuario */
    --textUsuario-color: #333;
    
}

body {
    background-color: var(--body-bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/***** TITULO *****/

/* Estilos del contenedor*/
.custom-container {
    width: 100%;
    padding: 35px 0;
    margin: 50px auto !important; 
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.header-pagina {
    background: var(--headerPage-bg-color);
    text-align: center;
}

/* Estilo del texto */
.title {
    font-size: 11em;
    font-family: "Style Script", cursive;
    color: var(--headerText-color); 
    text-align: center;
    position: relative;
    z-index: 2;
}


/* Sección de etiquetas */
.tags-section {
    margin-bottom: 20px;
}

.tag-button {
    background-color: var(--navBut-bg-color);
    border: 1px solid var(--navHovBut-bg-color);
    border-radius: 30px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins";
}

.tag-button:hover {
    background-color: var(--navHovBut-bg-color);
    color: var(--navBut-bg-color);
}

/* Sección de nuevo post */
.section-new-post{
    margin: 35px;
}

.new-post {
    background-color: var(--navBut-bg-color);
    padding: 20px;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position:relative ;
}

/* Contenedor para la imagen de perfil y el input+botón */
.post-header {
    display: flex;
    align-items: center; 
    width: 100%;
    margin-bottom: 15px; 
}

.profile-pic-status-bar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px; 
}

/* Contenedor del input y botón publicar */
.input-publish-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-post {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--lineD-color);
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px; 
}

/* Botón Publicar */
.publish-button {
    background-color: var(--pubBut-bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    width: 0 20px;
}

.publish-button:hover {
    background-color: var(--butPink-bg-color); 
    color: var(--textWhite-color);
}

/* Botones Foto/Video y Sentimiento/Actividad */
.post-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px; 
}

.carita-feliz{
margin-right: 5px;

}

.media-button,
.activity-button {
    background-color: var(--pubBut-bg-color);
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.media-button:hover,
.activity-button:hover {
    background-color: var(--navHovBut-bg-color);
    color: var(--textWhite-color);
}

/* publicaciónes */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    
}

.card {
    background-color: var(--navBut-bg-color);
    border: 1px solid var(--lineD-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 4px;
}

.user {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins";
}

.text {
    margin-top: 10px;
    color: var(--textUsuario-color);
}

/* Estamos en proceso de errores CARDS */

.card {
    font-family: "Montserrat", sans-serif;
}

.user{
    font-family: "Poppins";
}